* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo{
    color: #ffffff;
    background-color: #1E2E5C;
    font-size: 21px;
    font-weight: bold;
    padding: 11px 20px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-image: url("/static/myapp/images/pattern.png");
}

main {
    margin: 0 auto;
    min-width: 300px;
    width: 100%;
}

.search {
    width: 50%;
    position: relative;
    margin: auto;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 15px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

.searchTerm:focus{
    color: #ffffff;
    border-color: #E72C25;
}

.searchTerm::-webkit-input-placeholder {
    color: #ffffff;
}

.searchTerm::-moz-placeholder {
    color: #1E2E5C;
}

.searchButton {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.searchButton:focus{
    outline: none;
}

.searchButton:active {
    outline: none;
}

.template-container {
    background-color: #ffffff;
    margin: 15px 15px;
}

header {
    padding: 30px;
    text-align: center;
}

header p {
    text-align: left;
}

section {
    padding: 20px 50px;
}

section article {
    text-align: center;
}

section article p {
    padding: 20px 0;
    text-align: left;
}

section:first-of-type article div {
    display: inline-block;
}

article div {
    background: -webkit-radial-gradient(#fafbfa, #D4DDD6);
    background: -o-radial-gradient(#fafbfa, #D4DDD6);
    background: -mos-radial-gradient(#fafbfa, #D4DDD6);
    background: radial-gradient(#fafbfa, #D4DDD6);
    border: 6px solid black;
    height: 175px;
    margin: 20px;
    width: 175px;
}

section article:nth-child(4) p {
    display: inline-block;
    width: 200px;
}

section article:nth-child(6) div {
    vertical-align: top;
}

section article:nth-child(6) p {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

#wider {
    max-width: 100%;
    width: 300px;
}

aside {
    display: inline-block;
}

#flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

#flex p {
    width: 280px;
}

#list li {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

#list li p {
    width: 200px;
}

#table {
    border-spacing: 50px;
    display: table;
}

#table div {
    display: table-cell;
}

#table p {
    display: table-cell;
}

#table2 {
    display: table;
    margin: auto;
}

#table2 div {
    display: table-cell;
    float: left;
}

#table2 p {
    display: table-cell;
    float: left;
    width: 200px;
}

/* Navigation Menu */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E2E5C;
    border-top: 10px solid #E72C25;
}

.nav li {
    float: left;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #E72C25;
    color: #ffffff;
}

.active {
    background-color: #E72C25;
    color: #ffffff;
}

.inner-banner {
    background-image: url("/static/myapp/images/banner1.jpg");
    min-height: 200px;
}

.service-breadcrumb {
    text-align: left;
    padding: 10px 15px;
    background-color: #1E2E5C;
}

.service-breadcrumb-text {
    color: #ffffff;
}

.about-info {
    padding: 20px 0px;
    overflow: hidden;
}

.about-info img {
    width: 100%;
}

.about-paragraph {
    padding: 10px 20px;
}

.about-mission {
    width: 100%;
    border-top: 1px solid #9E9E9E;
    padding: 30px 15px 0px 15px;
    display: inline-block;
}

.about-agents {
    padding: 30px 15px;
    text-align: center;
}

.about-agents img {
    width: 70%;
    border-radius: 40%;
}

.margin-top-10 {
    margin-top: 10px;
}

.column-3 {
    float: left;
    max-width: calc(100vw / 3);
    padding: 5px;
}

.agents {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw / 5);
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1, h2 {
    font-weight: bold;
}

.intro {
    background-image: url("/static/myapp/images/bg.jpg");
    height: 500px;
}

.hero-text {
    text-align: center;
    padding-top: 160px;
}

.hero-text h2 {
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
}

.hero-text p {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
}

.hero-text a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 2px;
}

.recent-properties-header {
    text-align: center;
    padding: 70px 0px 30px 0px;
}

.recent-properties-header p {
    color: grey;
}

.property {
    float: left;
    width: 32.3%;
    margin: 16px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

@media screen and (max-width: 650px) {
  .property {
    width: 100%;
    display: block;
  }
}

.property-marker {
    margin-right: 5px;
}

.property-image {
    width: 100%;
    height: 250px;
    display: block;
}

.property-text {
    text-align: center;
    padding: 10px 8px;
}

.property-text h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #1E2E5C;
    width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-text p {
    color: #9E9E9E;
}

.property-room-wrap-info {
    padding: 25px 25px 0px 25px;
}

.property-room-info {
    border-top: 1px solid #1E2E5C;
    padding: 15px 0px;
    overflow: hidden;
}

.property-room-info .rf-left {
    float: left;
    text-align: left;
}

.property-room-info .rf-right {
    float: right;
    text-align: left;
}

.property-room-info .rf-right p {
    color: #1E2E5C;
}

.property-room-info .rf-left p {
    color: #1E2E5C;
}

.property-room-info .rf-right p i {
    color: #1E2E5C;
}

.property-room-info .rf-left p i {
    color: #1E2E5C;
}

.property-price {
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 13px;
    background: #1E2E5C;
    color: #fff;
    text-decoration: none;
}

.property-detail-left-column {
    width: 60%;
    float: right;
}

.property-detail-right-column{
    width: 38%;
    padding-left: 20px;
}

.property-photo-column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.property-photo-column img {
    opacity: 0.8;
    cursor: pointer;
}

.property-photo-column img:hover {
    opacity: 1;
}

/* The expanding image container */
.property-photo-container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.property-photo-closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.property-card {
    background-color: white;
    padding: 20px;
}

.property-detail-price {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px 30px 0px 30px;
}

.property-detail-price-wrap p {
    font-style: italic;
    font-size: 12px;
    margin: 0px 30px;
}

.property-detail-price p {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
}

.property-details {
    margin: 40px 0px;
}

.property-details h2 {
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-size: 28px;
    border-bottom: 1px solid black;
}

.property-details p {
    margin: 10px;
}

.property-looking-for {
    background-color: #f2f2f2;
    margin-top: 50px;
}

.property-looking-for-header {
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.property-looking-for-header h2 {
    color: #000000;
}

.property-looking-for-header p {
    color: #000000;
}

.property-looking-for-column {
    float: left;
    width: 25%;
    text-align: center;
}

.property-looking-for-column img {
    max-width: 250px;
}

.property-looking-for-column h5 {
    font-weight: 100;
    font-size: 20px;
    margin: 10px 0px;
    color: #000000;
}

.footer {
    background-color: #1E2E5C;
    text-align: center;
    padding: 50px 30px 50px 0px;
    border-bottom: 10px solid #E72C25;
}

.footer-title {
    color:#ffffff;
    padding-top: 40px;
}

.footer-columns {
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 600px) {
    .footer-columns {
        width: 100%;
    }
}

.footer-logo-marker {
    font-size: 150px;
    color: #ffffff;
}

.footer-logo-text {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
}

.footer-links {
    list-style-type: none;
    margin: 40px;
}

.footer-links li {
    padding: 3px;
}

.footer-links li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-uni-logo {
    width: 300px;
    padding: 40px 0px;
}

.pagination {
    align-items: center;
	margin: 30px 0px;
	padding: 0 25px;
    text-align: center;
}

.step-links a,.current  {
    text-decoration: none;
    border: 1px solid #1E2E5C;
    color: #1E2E5C;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 5px;
    font-weight: bold;
}

.step-links a:hover {
    color: #E72C25;
    border-color: #E72C25;
}

/*if no properties found in Search property page*/
.no-property {
    text-align: center;
    min-height: 488px;
    padding: 100px;
}

.no-property img {
    display: block;
    margin: 30px auto;
}