{% extends 'account/accountBase.html' %}

{% block account %}

    <section class="content-header">
        <h1>Features</h1>
        <ol class="breadcrumb">
        <li><a href="{% url 'account'%}"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li><a href="#">Features</a></li>
      </ol>
    </section>
    <section class="content">
        <div class="box">
            {% if not features %}
            <div class="row">
                <div class="no-data">
                    <span><i class="fas fa-cogs"></i> <br/> No features data available!</span>
                </div>
            </div>
            {% endif %}
            {% if features %}
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>#Task</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>
                                <ul class="table-actions">
                                    <li><a href="#"><i class="fas fa-info-circle"></i></a></li>
                                    <li><a href="#"><i class="fas fa-user-edit"></i></a></li>
                                    <li><a href="#"><i class="fas fa-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                            <td>Header</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% if features %}
        <div class="row">
            <div class="pagination">
                <span class="step-links">
                    {% if users.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ users.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ users.number }} of {{ users.paginator.num_pages }}
                    </span>

                    {% if properties.has_next %}
                        <a href="?page={{ users.next_page_number }}">next</a>
                        <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}