{% extends 'base.html' %}

{% block body %}

    <div class="inner-banner">
    </div>

    <div class="service-breadcrumb">
        <p class="service-breadcrumb-text">About Us</p>
    </div>

    <div class="about-info">
        {% load static %}<img src="{% static 'myapp/images/about.jpg' %}">
        <div class="about-paragraph">
            <h1>What is Home Run?</h1>
            <p id = "mission-description" >In today's Real Estate market, your decision of real estate agents does make a difference!
                Home Run is a real estate marketplace serving Canada and numerous locations. We assist buyers for homes
                so that they can get their right place, sellers to discover their right buyer and agents and brokers
                get the online experience to efficiently advertise properties.
                Regardless of whether you are buying, offering or wish to research the conceivable outcomes,
                We care about your necessities and will set aside the opportunity to give individual consideration
                and 100% customer fulfillment.

                To answer any of your inquiries or to hear your input, we strive to be quick to reach. We urge you to
                email us whenever or to call our Customer Support Agents amid standard business hours.</p>
        </div>
    </div>


    <div class="about-mission">
        <div class="row">
            <div class="column-3">
                <img src="{% static 'myapp/images/mission1.jpg' %}"/>
            </div>
            <div class="column-3">
                <img src="{% static 'myapp/images/mission2.jpg' %}"/>
            </div>
            <div class="column-3">
                <h1>Our Mission</h1>
                <p id="mission-description">As a leading real estate marketplace in the community, we are committed to giving the best
                    administration accessible while breaking new ground. The real estate today is continually
                    developing, and you require an expert who comprehends this variety and is desired to remain on top.
                    We guarantee to give the most expert, moral and informed real estate benefits in the Industry.
                    Our most vital resources are honesty and uprightness, whereby our customers turn
                    into our companions.</p>
            </div>
        </div>
    </div>

    <div class="about-agents">
        <h1>Our Agents</h1>
        <div class="row">
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Parth</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
             <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Siddharth</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
             <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Neha</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Devanshi</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Hardik</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>
            </div>
        </div>
    </div>

{% endblock %}