<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Home Run | Real Estate </title>
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        #mission-description { font-size: 16px; font-weight: normal; color: black; }
    </style>
    <script rel="script" src="{% static 'myapp/js/propertyimageviwer.js'%}"></script>
</head>
<body>
<main>
    <ul class="nav">
        <li><div class="logo"><i class="fas fa-home" style="color: #ffffff; margin-right: 5px"></i>HOME RUN</div></li>
        <li><a {% if request.path == '/' %} class="active"{% endif %} href="{% url 'home' %}">Home</a></li>
        <li><a {% if request.path == '/searchproperty/' %} class="active"{% endif %} href="{% url 'searchproperty' %}">Search Property</a></li>
        <li><a {% if request.path == '/advertiseproperty' %} class="active"{% endif %} href="{% url 'advertiseproperty' %}">Advertise Property</a></li>
        <li><a {% if request.path == '/about/' %}class="active"{% endif %} href="{% url 'about' %}">About</a></li>
        <li><a {% if request.path == '/contactus/' %}class="active"{% endif %} href="{% url 'contactus' %}">Contact</a></li>
        <li style="float:right"><a {% if request.path == '/signin/' %}class="active"{% endif %} href="{% url 'signin' %}">Sign In</a></li>
        <li style="float:right"><a {% if request.path == '/register/' %}class="active"{% endif %} href="{% url 'register' %}">Register</a></li>
    </ul>
    <div class="template-container">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="row">
            <div class="footer-columns">
                <div class="footer-logo">
                    <i class="fas fa-home footer-logo-marker"></i>
                    <h2 class="footer-logo-text">HOME RUN</h2>
                </div>
            </div>
            <div class="footer-columns">
                <ul class="footer-links">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'searchproperty' %}">Search Property</a></li>
                    <li><a href="{% url 'advertiseproperty' %}">Advertise Property</a></li>
                    <li><a href="{% url 'contactus' %}">Contact</a></li>
                    <li><a href="https://github.com/parth7676/S1_G1_Fall2018">Project Link</a></li>
                </ul>
            </div>
            <div class="footer-columns">
                <img class="footer-uni-logo" src="{% static 'myapp/images/UW_Logo_2L_horz_wht.png'%}">
            </div>
        </div>
        <p class="footer-title">© 2018 Home Run. All Rights Reserved | Designed with <i class="fas fa-heart" style="color: red"></i> by Group1 @ University of Windsor</p>
    </footer>
</main>

</body>
</html>