{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="row">
     <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

     <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>

        <div class="property">
            <img src="{% static 'myapp/images/property.png' %}" alt="Avatar" class="property-image"/>
            <h2>Pirate Bay</h2>
            <p class="property-title">A property of your dream. Explore the property by clicking below button.</p>
            <p><button class="property-button">Explore Property</button></p>
        </div>
    </div>
{% endblock %}