{% extends 'base.html' %}

{% block title%}LogIn | Home Run{% endblock %}
{% block body %}
    <form method="post" action="/login/">
      {% csrf_token %}
      <div class="container">
        <h1>Sign in</h1>
        <p>Please fill in this form to log in.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="email" class="margin-tb-40" placeholder="Enter Email" name="email" required>

        <label for="password" class="margin-top-20"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit" class="registerbtn">Sign in</button>
      </div>
    </form>
{% endblock %}